.wrapper {
  position: relative;
  min-height: 758px;
}

.container {
  width: 1250px;
  min-height: 400px;
  background: #fff;
  padding: 60px 0;
  margin-left: auto;
  margin-right: auto;

  .line {
    height: 3px;
    width: 100%;
    background-position-x: -30px;
    background-size: 116px 3px;
    background-image: repeating-linear-gradient(
      45deg,
      #6fa6d6,
      #6fa6d6 33px,
      transparent 0,
      transparent 41px,
      #f18d9b 0,
      #f18d9b 74px,
      transparent 0,
      transparent 82px
    );
  }

  .cust-inf {
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  .container-cust-inf {
    font-size: 20px;
    .address {
      padding-bottom: 10px;
      i,
      span {
        font-size: 25px;
        color: #53a564;
      }
      i {
        margin-right: 10px;
      }
    }
    a {
      margin-left: 40px;
      text-decoration: none;
      font-size: 16px;
      color: #4080ee;
    }
  }

  .container-cust-inf > span {
    margin-right: 20px;
    font-weight: 700;
  }

  .container-products {
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  .name-products,
  .products,
  .button-buy {
    font-size: 20px;
  }

  .name-products {
    font-weight: 700;
    div:nth-of-type(1) {
      padding-left: 10px;
    }
  }

  .title {
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    color: #53a564;
  }

  .product-left,
  .product-right {
    height: 84px;
  }

  .card-product {
    min-height: 84px;
    padding: 16px 0;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;

    img {
      width: 100%;
      height: 80px;
      padding: 0 10px;
      object-fit: cover;
    }

    .button {
      display: flex;
    }

    button,
    input,
    .quantity {
      outline: none;
      cursor: pointer;
      border: 0;
      font-size: 20px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.1s cubic-bezier(0.4, 0, 0.6, 1);
      background: transparent;
      color: rgba(0, 0, 0, 0.8);
      width: 32px;
      height: 32px;
    }

    input {
      width: 50px;
      height: 32px;
      border-left: 0;
      border-right: 0;
      font-size: 16px;
      font-weight: 400;
      box-sizing: border-box;
      text-align: center;
      cursor: text;
      border-radius: 0;
    }
    .bt-delete {
      width: 100px;
    }
  }
  .df-center {
    display: flex;
    align-items: center;
  }

  .OTP {
    width: 100%;

    .container-OTP {
      text-align: center;

      div:nth-of-type(1) {
        padding-bottom: 10px;
      }

      input {
        font-size: 30px;
        text-align: center;
        padding: 10px 120px;
      }

      button {
        color: #fff;
        background: #53a564;
        font-size: 18px;
        padding: 15px 140px;
        border: none;
      }
    }
  }

  .button-buy {
    float: right;

    .total {
      padding: 0 45px;
      span {
        color: #53a564;
        font-size: 30px;
        font-weight: 700;
      }
    }

    button {
      height: 40px;
      margin-right: 15px;
      padding: 10px 50px;
      border: none;
      color: #fff;
      background: #53a564;
      transition: 0.5s;
      font-size: 15px;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .dropzone {
    border: 2px dashed #cccccc;
    border-radius: 4px;
    padding: 20px;
    cursor: pointer;
  }

  .dropzone.active {
    border-color: #2196f3;
  }

  .avatar {
    max-width: 100%;
    max-height: 200px;
    margin-top: 20px;
  }
}

//CSS SWAL
.swal-close-button {
  &:focus {
    color: #fff !important;
    background: #53a564 !important;
    box-shadow: none !important;
  }
}

.swal-input-OTP {
  text-align: center;
  &:focus {
    border: 1px solid #53a564 !important;
  }
}

.swal-confirm-OTP {
  background-color: #53a564 !important;
}

.swal-footer-OTP {
  font-size: 18px !important;
}
